body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

#terminal{
    width: 100%;
    height: 100vh;
    color: green;
    outline: none;
    &:focus{
        outline: none;
    }
}